body {
    background: url("/public/img/home.jpg") fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    padding: 1rem;
    color: white;
}

.context {
    width: 500px;
    max-width: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
}

.histoire {
    width: 500px;
    max-width: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
}

.block-hackathons {
    width: 500px;
    max-width: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

.block-body {
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;

    text-align: justify;
}

.block-presentation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block-histoire {
    display: flex;
    gap: 30px;
}

.block-histoire img {
    max-width: 100px;
    max-height: 100px;
}

.modal-Hackathon {
    width: 100%;
    padding: 30px;
    background-color: white;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    opacity: 0;
    z-index: -1;
    transition: ease-in-out 0.2s;
    border: 1px solid black;
}

.modal-Hackathon.active {
    opacity: 1;
    z-index: 3;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: rgb(217, 83, 79);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.close-modal:hover {
    color: rgba(217, 83, 79, 0.8);
}

.modal-trigger-hackathon p {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.modal-trigger-hackathon p:hover {
    color: rgba(0, 0, 0, 0.5);
}

.titreHackathon {
    font-size: 20px;
}

.unHackathon {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
}

.lesHackathon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    cursor: pointer;
    text-align: left;
}

.box {
    display: none;
    padding: 10px;
    border: 1px dashed #ccc;
    background: #eee;
}

h2 {
    text-align: center;
}