.block-about-main{
    height: 100vh;
    background-color: #000000;
    transition: all 0.1s;
    background-image: url(/public/img/home.jpg);
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 10px black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
.block-about-before{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-about{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 2rem;
    text-align: justify;
}
h1{
    color: white;
    font-weight: bold;
}
h2{
    color: rgba(255,255,255,0.8);
    font-weight: bold;
}
p{
    color: rgba(255,255,255,0.6);
}