.bannerHome {
    height: 100vh;
    background-color: #000000;
    transition: all 0.1s;
    background-image: url(/public/img/home.jpg);
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 10px black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.card{
    padding: 10px 20px;
    background: rgba(250, 250, 250, 0.69);
    text-shadow: none;
    color: black;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    border: none;
}

.button-home {
    --tw-bg-opacity: 1;
    background-color: rgba(70, 255, 189, 1);
    border: none;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    --tw-text-opacity: 1;
    color: rgba(12, 4, 46, 1);
    text-shadow: none;

    text-transform: uppercase;
    font-weight: 500;

    font-size: 1.2rem;

    outline: none;
}

.button-home:hover {
    --tw-text-opacity: 1;
    color: rgba(70,255,189, 1);
    background: transparent;
}


.affiche {
    height: 60vh;
    box-shadow: 0 0 20px 20px #47ffbe3b;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    border-radius: 20px;
}

.affiche:hover {
    box-shadow: 0 0 20px 20px rgba(71, 255, 190, 0.45);
}

.bannerHome > h1 {
    padding-bottom: 25px;
}

.bannerHome > p {
    font-size: 17px;
    font-weight: 200;
}
.error{
    color: white;
    background: linear-gradient(0deg, rgba(250, 68, 84, 0.8) 30%, rgba(250, 250, 250, 0.69));
    text-align: center;
    padding: 1em;
    border-radius: 0 0 10px 10px;
    transition: ease-in-out 0.3s;
}
.error p {
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 340px;
    text-align: center;
}
.error:hover{
    background-color: rgba(250, 68, 84, 0);
}
.block-membres{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    position: relative;
}
.membre{
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    background-color: #47ffbe;
    transition: ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 1;
}
.membre:hover{
    background-color: rgba(71, 255, 190, 0.0);
}
.block-equipes-membres{
    display: flex;
    flex-wrap: wrap;
}
.img-loader{
    position: absolute;
    z-index: 0;
    width: 100px;
    right: 0;
    top: 0;
    margin-right: -200px;
}