.member i {
    font-size: 20px;
}

.member {
    font-size: 25px;
}

.icon-edit {
    color: rgb(92, 184, 92);
    transition: ease-in-out 0.1s;
}

.icon-edit:hover {
    color: rgba(92, 184, 92, 0.5);
}

.icon-delete {
    color: rgb(217, 83, 79);
    transition: ease-in-out 0.1s;
}

.icon-delete:hover {
    color: rgba(217, 83, 79, 0.5);
}

.btn-modal {
    cursor: pointer;
}

.modal-Edit {
    width: 100%;
    padding: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: ease-in-out 0.2s;
}

.modal-Edit.active {
    opacity: 1;
    z-index: 2;
}

.modal-Delete {
    width: 100%;
    padding: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: ease-in-out 0.2s;
}

.modal-Delete.active {
    opacity: 1;
    z-index: 2;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: rgb(217, 83, 79);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.close-modal:hover {
    color: rgba(217, 83, 79, 0.8);
}

.button {
    border: none;
}

.block-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
.presentationSupp{
    font-size: 15px;
}
.presentationSupp span{
    font-weight: bold;
}
.block-delete-body {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.icon-check {
    cursor: pointer;
    color: rgb(92, 184, 92);
    font-size: 30px;
    transition: ease-in-out 0.2s;
}
.icon-check:hover{
    color: rgba(92, 184, 92, 0.8);
}
.icon-x {
    cursor: pointer;
    color: rgb(217, 83, 79);
    font-size: 30px;
    transition: ease-in-out 0.2s;
}
.icon-x:hover{
    color: rgba(217, 83, 79, 0.8);
}
.block-delete-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.block-delete-body p {
    margin-top: 0px;
    height: 100%;
}
button{
    border: none;
    background-color: rgba(0,0,0,0);
}
.membres-supp{
    font-family: Nunito;
    cursor: pointer;
    color: rgb(92, 184, 92);
    transition: ease-in-out 0.2s;
}
.membres-supp:hover{
    color: rgba(92, 184, 92, 0.8);
}
.membres-supp-cacher{
    font-family: Nunito;
    cursor: pointer;
    color: rgb(217, 83, 79);
    transition: ease-in-out 0.2s;
    text-decoration: none;
}
.membres-supp-cacher:hover{
    color: rgba(217, 83, 79, 0.8);
}
.block-membres-supp{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 200px;
}
.block-each-supp{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    padding: 1rem;
}
.block-each-supp p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.dateSupp{
    font-size: 10px;
}
.dateSupp span{
    font-weight: bold;
}
.formAjouter{
    display: flex;
    justify-content: center;
}
.form-control{
    max-width: 120px;
}
.btn-form{
    max-width: 110px;
}
.icon-check-supp {
    cursor: pointer;
    color: rgb(92, 184, 92);
    font-size: 20px;
    transition: ease-in-out 0.2s;
}
.icon-check-supp:hover{
    color: rgba(92, 184, 92, 0.8);
}

.icon-delete-supp {
    cursor: pointer;
    color: rgb(217, 83, 79);
    font-size: 20px;
    transition: ease-in-out 0.2s;
}

.icon-delete-supp:hover {
    color: rgba(217, 83, 79, 0.8);
}
.block-each-icon{
    display: flex;
    gap: 10px;
}
.recup-membre{
    font-size: 10px;
}